$def with (message)
<!DOCTYPE html>
<html>
    <head>
        <title>Inicio de sesión</title>

    </head>
    <body>
        $message
        <center>
         <h1 style="font-size:230%;">Inicio de sesión</h1>
        </center>
        <br>
        <center>
          <form method="POST" >
            <p style="font-size:150%;">Email :</p>
            <input type="email" name="email" id="email"  style="font-size:150%;"><br>
            <br>
            <p style="font-size:150%;">contraseña :</p>
            <input type="password" name="password" id="password" style="font-size:150%;"><br>
            <br>
            <input type="submit" value="Iniciar"  style="font-size:150%;"><br>
          </form>
          <p>contra</p>  
          <br>
          <br>
          <a href="/recuperar" style="font-size:200%;" > Rerecuperar contraseña</a>
         
        </center>

    </body>
</html>

