{% extends 'base_inicio.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/iniciar.css')}}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="mt-5">
        <h1>Inicio</h1>
    </div>
    <div class="mt-3">
        <img src="{{url_for('static', filename='img/docplant.png')}}" style="height: 200px;">
    </div>
    <div class="mt-2">
        <h3>"Docplanta"</h3>
    </div>
    <div class="mt-1">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br/>
        {% for message in messages %}
           <div class="alert alert-primary alert-dimissible" role = "alert">
            <strong>{{message}}</strong>
            <button type = "button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
           </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="form-login" action="/acceso-login" method="post">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mt-2">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <label for="password">contraseña</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" style="background-color: #13CE66; color:#FFFFFF" type="submit">Iniciar</button>
            <div class="mt-4">

            <a href="/registro">Registro</a>
          </div>
        </form>
        <a href="/reset-password">Recuperar contraseña</a>
    </div>
</div>

{% endblock %}

