{% extends 'base.html' %}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!DOCTYPE html>
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-11 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
    <h1 class="h2">Invernaderos</h1>
  </div>
<html>
<head>
  <title>Invernaderos</title>
  <style>
    .popup {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .popup-content {
      background-color: #fefefe;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    .custom-btn {
        background-color: #4CAF50;
        color: #fff;
    }

    h2 {
      text-align: center;
    }

    label {
      display: block;
      margin-top: 10px;
    }

   

    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
    }

    .table-container {
    width: 40%; 
    padding-left: 20px;
  }

 
  @media (max-width: 767px) {
    .table-container {
      width: 100%;
      padding-left: 0;
    }
  }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("registerBtn").addEventListener("click", function() {
        document.getElementById("popup").style.display = "block";
      });

      document.getElementsByClassName("close")[0].addEventListener("click", function() {
        document.getElementById("popup").style.display = "none";
      });

      document.getElementById("registrationForm").addEventListener("submit", function(event) {
        event.preventDefault(); 

      });
    });
  </script>
</head>
<body>
    <br>
  <button id="registerBtn"  id="add-button" class="btn custom-btn">
    <span data-feather="plus"></span>
    Agregar Invernadero</button>
<br>
<div class="row">
  <div class="col-md-3">
     <!-- Table container -->
     <div class="table-container">
        <table class="table" id="greenhouse-table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for inver in inver_data %}
        <tr>
          <td>{{ inver[1] }}</td>
          <td>
            <a href="/temperatura-humedad" class="btn btn-info" aria-hidden="true">
              <span data-feather="thermometer"></span> 
            </a><br>
            <form action="/invernadero/delete/{{ inver[0] }}" method="post" onsubmit="return confirm('Deseas dar de baja este invernadero?');">
              <button type="submit" class="btn btn-danger fa fa-eraser btn-md mb-1" aria-hidden="true">
                <span data-feather="trash-2"></span> 
              </button>
            </form>
            <a href="/invernadero/update/{{ inver[0] }}" class="btn btn-primary" aria-hidden="true">
              <span data-feather="edit-3"></span> 
            </a>

        </td>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
      </div>
      

      <div class="col-md-8">
        <!-- Card container -->
        <div class="card my-2">
           <div class="card-header">
              Instrucciones
           </div>
           <div class="card-body">
              <!-- Add your card content here -->
              <p>En este apartado podras agregar tus invernaderos:</p>
              <p>Primeramente podras registrar invernaderos dando clic en el boton verde "Agregar invernadero".</p>
              <p>Al dar clic en el boton azul cielo podras observar la temperatura y humedad en tiempo real de tu invernadero.</p>
              <p>Al dar clic en el boton rojo podras dar de baja un invernadero( al darlo de baja las plantas asignadas no se eliminaran).</p>
              <p>Al dar clic en el boton azul marino podras editar la información de tu invernadero.</p>
           </div>
        </div>
     </div>
  </div>


  <div id="popup" class="popup">
    <div class="popup-content">
      
        <div class="modal-header">
          <h4 class="modal-title text-center" id="exampleModalLabel">Registro de Invernaderos</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           
        </div>
        <div class="modal-body">
          <form method="POST" class="shadow rounded py-3 px-4" style="margin: auto; width: 420px;" action="/invernadero">
         
            <div class="form-group">
                <font for="name" color="black">Nombre del invernadero:</font>
                <input type="text" class="form-control" name="nombre_invernadero" value="">
              </div>
              <div class="form-group">
                  <label for="exampleFormControlSelect1">Selecciona la planta</label>
                  <select class="form-control" name="id">
                    <option value="">Selecciona la planta</option>
                    {% for plant in plants_data %}
                        <option value="{{ plant[0] }}">{{ plant[1] }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group">
                    <label for="temperatureInput">Temperatura Maxima</label>
                    <input type="text" class="form-control" name="tem_max" placeholder="ingresa la temperatura Maxima">
                  </div>

                  <div class="form-group">
                    <label for="temperatureInput">Temperatura Minima</label>
                    <input type="text" class="form-control" name="tem_min" placeholder="ingresa la temperatura Minima">
                  </div>

                  <div class="form-group">
                    <label for="humidityInput">Humedad Maxima</label>
                    <input type="text" class="form-control" name="hum_max" placeholder="ingresa la humedad Maxima">
                  </div>

                  <div class="form-group">
                    <label for="humidityInput">Humedad Minima</label>
                    <input type="text" class="form-control" name="hum_min" placeholder="ingresa la humedad Minima">
                  </div>

              <div class="form-group">
                <font for="name" color="black">Descripción:</font>
                <input type="text" class="form-control" name="descripcion" value="">
              </div>        
            <br>
              <center><button type="submit"  class="btn custom-btn" value="Register"> Registrar</button></center>    
          </form>
    </div>
</div>
  </div>
</body>
</html>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock %}

{% block footer %}{% endblock %}
