{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/plantas.css')}}">
{% endblock %}

{% block body %}
<main class="d-flex flex-nowrap" style="width: 100vw; height: 100vh;">
  <h1 class="visually-hidden">Sidebars examples</h1>

  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100%; background-color: #f8f9fa;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</main>


</head>
<body>
    <br><br><br>
  <button id="registerBtn" class="btn custom-btn" >Agregar nueva planta</button>

  <div class="card">
    <div class="card-body">
        <table class="table table-striped" id="">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de la Planta</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                  <td>.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                      <form action="" method="post">
                          <button type="submit" onclick="return confirm('¿Desea borrar la Planta?');" class="btn btn-danger fa fa-eraser btn-md mb-1" aria-hidden="true"> De baja
                          </button>
                      </form>
                      <button type="button" class="fa fa-refresh btn btn-warning" data-toggle="modal" data-target="#updateModal"> Actualizar</button>


                              
                            </form>
                        </div>
                    </div>
                    
                      </div>

                      </div>

                  </td>
              </tr>
            </tbody>
        </table>

  <div id="popup" class="popup">
    <div class="popup-content">
      
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="exampleModalLabel">Registro de Planta</h4>
        </div>
        <div class="modal-body">
          <form method="POST" class="shadow rounded py-3 px-4" style="margin: auto; width: 420px;" action="">
         
            <div class="form-group">
              <font for="name" color="black">Nombre de la planta :</font>
              <input type="text" class="form-control" name="nameplanta" value="">
            </div>
      
            <div class="form-group">
              <font for="name" color="black">Descripción de la planta :</font>
              <input type="text" class="form-control" name="descripcion" value="">
            </div>
      
            <div class="input-group mb-3">
              <input type="image" class="form-control" id="inputGroupFile02">
              <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
          <br>
            <center><button type="submit"  class="btn custom-btn" value="Register"> Registrar</button></center>
          
        </form>
    </div>
</div>

  </div>
</body>

{% endblock %}
