{% extends 'base.html' %}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-11 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
    <h1 class="h2">Plantas</h1>
  </div>
<html>
<head>
  <title>Mis plantas</title>
  <style>
    .popup {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .popup-content {
      background-color: #fefefe;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
    }


    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }


    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    .custom-btn {
        background-color: #4CAF50;
        color: #fff;
    }


    h2 {
      text-align: center;
    }


    label {
      display: block;
      margin-top: 10px;
    }
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
    }
    .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Add margin if needed */
}

  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("registerBtn").addEventListener("click", function() {
        document.getElementById("popup").style.display = "block";
      });


      document.getElementsByClassName("close")[0].addEventListener("click", function() {
        document.getElementById("popup").style.display = "none";
      });


      document.getElementById("registrationForm").addEventListener("submit", function(event) {
        event.preventDefault();


      });
    });

  </script>
</head>


<body>
    <br><br>
  <div class="card">
    <div class="card-body">
      <form action="{{ url_for('plantas') }}" method="get">
        <input id="buscarplanta" type="text" name="search" placeholder="">
        <button id="searchBtn" type="submit" class="btn btn-primary">Search</button>
      </form>      
    
      <button id="registerBtn" class="btn custom-btn" >
        <span data-feather="plus"></span>
        Nueva planta
      </button>
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de la Planta</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
              {% for plant in plants_data %}
              <tr data_nombre_planta="{{ plant[1] }}">
                  <td>{{ plant[0] }}</td>
                  <td>{{ plant[1] }}</td>
                  <td>{{ plant[2] }}</td>
                  <td>
                    <form action="/plantas/delete/{{ plant[0] }}" method="post" onsubmit="return confirm('Deseas dar de baja esta planta?');">
                      <button type="submit" class="btn btn-danger fa fa-eraser btn-md mb-1" aria-hidden="true">
                        <span data-feather="trash-2"></span> Dar de baja
                      </button>
                    </form>
                  <a href="/plantas/update/{{ plant[0] }}" class="btn btn-primary" aria-hidden="true">
                    <span data-feather="edit-3"></span> Actualizar
                  </a>
                        </div>
                    </div>
                      </div>
                      </div>
                  </td>
                   {% endfor %}
              </tr>
            </tbody>
        </table>
      
        <div class="pagination">
          <button id="prevPageBtn" class="btn custom-btn" disabled>&lt;</button>
          <button id="nextPageBtn" class="btn custom-btn">&gt;</button>
        </div>
        <!--<div class="pagination"></div>  
        <a id="prevPageBtn" class="btn custom-btn {% if page|default(1) == 1 %}disabled{% endif %}" href="{{ url_for('plantas', page=(page |default(1))-1, search=request.args.get('search', '')) }}">&lt;</a>
        <a id="nextPageBtn" class="btn custom-btn" href="{{ url_for('plantas', page=(page|default(1))+1, search=request.args.get('search' , '')) }}">&gt;</a>
    </div>
    -->
    

  <div id="popup" class="popup">
    <div class="popup-content">
     
        <div class="modal-header">
          <h4 class="modal-title text-center" id="exampleModalLabel">Registro de Planta</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>


        </div>
        <div class="modal-body">
          <form method="POST" class="shadow rounded py-3 px-4"  action="/plantas" margin: auto; width: 420px;">
         
            <div class="form-group">
              <font for="name" color="black">Nombre de la planta :</font>
              <input type="text" class="form-control" name="nombre_planta" value="">
            </div>
     
            <div class="form-group">
              <font for="name" color="black">Descripción de la planta :</font>
              <input type="text" class="form-control" name="descripcion_planta" value="">
</div>
    
<br<><br>
            <center><button type="submit"  class="btn custom-btn" value=""> Registrar</button></center>
        </form>
    </div>
</div>
</body>
</div>
</html>
</main>

<script>

  // Get references to elements
  const table = document.querySelector('.table');
  const prevPageBtn = document.getElementById('prevPageBtn');
  const nextPageBtn = document.getElementById('nextPageBtn');
  const rowsPerPage = 5;
  let currentPage = 1;

  // Function to update the table based on the current page
  function updateTable() {
    const rows = table.querySelectorAll('tbody tr');
    const start = (currentPage - 1) * rowsPerPage;
    const end = start + rowsPerPage;

    rows.forEach((row, index) => {
      if (index >= start && index < end) {
        row.style.display = 'table-row';
      } else {
        row.style.display = 'none';
      }
    });

    prevPageBtn.disabled = currentPage === 1;
    nextPageBtn.disabled = end >= rows.length;
  }

  // Event listeners for navigation buttons
  prevPageBtn.addEventListener('click', () => {
    if (currentPage > 1) {
      currentPage--;
      updateTable();
    }
  });

  nextPageBtn.addEventListener('click', () => {
    const rows = table.querySelectorAll('tbody tr');
    const totalPages = Math.ceil(rows.length / rowsPerPage);
    if (currentPage < totalPages) {
      currentPage++;
      updateTable();
    }
  });

  // Initial table update
  updateTable();

  //buscar 
  $(document).ready(function () {
  $('#searchBtn').on('click', function () {
    var searchTerm = $('#buscarplanta').val().toLowerCase();
    $('.table tbody tr').each(function () {
      var data_nombre_planta = $(this).data('nombre_planta').toLowerCase();
      
      if (data_nombre_planta.includes(searchTerm)) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  });
});

</script>
{% endblock %}







