{% extends 'base.html' %}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">

 
{% block content %}


<main class="col-md-9 ms-sm-auto col-lg-11 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
    <h1 class="h2">Grafica de enfermedades</h1>
  </div>
  <form id="myForm" name="dates" action="{{url_for('reporte_enfer') }}" method="post" class="shadow-white rounded py-3 px-4">


  <form id="myForm" name="dates" action="" method="post" class="shadow-white rounded py-3 px-4">

    <div class="row">
        <div class="col-3 col-md-2">
            <label for="start_date"> Fecha inicio</label><br>
            <input type="date" name="start_date" id="start_date" class="form-group">
        </div>
        <div class="col-3 col-md-2">
            <label for="end_date">Fecha final</label><br>
            <input type="date" name="end_date" id="end_date" class="form-group">
        </div>
        <div class="col-3 col-md-2">
            <label for="submit"></label><br>

            <button type="submit" class="btn btn-dark"><i class="fa fa-search"></i>Buscar</button>
        </div>
    </div>
</form>
<br>
<form action="/generate_pdf" method="post" target="_blank">
  <button type="submit">Generar PDF</button>
</form>
<br>


<div class="chart-container">
  <canvas id="barChart"></canvas>
</div>
<div class="custom-btn-container">
  <br>


</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var graphData = {{ graph_data|safe|tojson}};
  graphData = JSON.parse(graphData);
  var ctx = document.getElementById('barChart').getContext('2d');
  var barChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: graphData.labels,
          datasets: [{
              label: 'Número de plantas enfermas',
              data: graphData.data,
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
          }]
      },
      options: {
           scales: {
               xAxes: [{
                   ticks: {
                       beginAtZero: true
                   }
               }],
               yAxes: [{
                   ticks: {
                       beginAtZero: true
                   }
               }]
           }
       }
   });
   document.getElementById('myForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form submission
    console.log('Form enviado');
    var formData = new FormData(event.target)
    // Convert form data to URL-encoded string
    var params = new URLSearchParams(formData);

    // Make a POST request to the Flask route
    fetch('/reporte_enfer', {
        method: 'POST',
        body: params
    })

    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(graphData => {
        console.log(graphData);
        // Update chart data
        barChart.data.labels = graphData.labels;
        barChart.data.datasets[0].data = graphData.data;
        barChart.update();
    })
    .catch(error => console.error('Error:', error));
});

</script>

{% if graph_file_name %}
        <center>
            <font face="Comic Sans MS,arial,verdana" font color="#49c100">Diseases from {{ request.form.start_date }} to {{ request.form.end_date }}</font>
        </center><br>
        <div style="width: 100 !important; height: 100 !important;">
          
          <img src="{{ url_for('static', filename=graph_file_name) }}" alt="Disease Records Plot">
   
        </div>
        {% endif %}


{% endblock %}

{% block footer %}{% endblock %}
